

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #23375A !important; 
  --ifm-color-primary-dark: #1e2a46 !important;  /* %20 daha koyu */
  --ifm-color-primary-darker: #1a2b44 !important;  /* %30 daha koyu */
  --ifm-color-primary-darkest: #163047 !important;  /* %40 daha koyu */
  --ifm-color-primary-light: #4d7aa7 !important;  /* %20 daha açık */
  --ifm-color-primary-lighter: #5f85b5 !important;  /* %30 daha açık */
  --ifm-color-primary-lightest: #7291c3 !important;  /* %40 daha açık */
  --ifm-background-color: #E6E6E6!important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #E6E6E6 !important;  /* Ana renk */
  --ifm-color-primary-dark: #a0b9d3 !important;  /* %20 daha koyu */
  --ifm-color-primary-darker: #8cacc9 !important;  /* %30 daha koyu */
  --ifm-color-primary-darkest: #799db6 !important;  /* %40 daha koyu */
  --ifm-color-primary-light: #c8e1ea !important;  /* %20 daha açık */
  --ifm-color-primary-lighter: #d4e6f0 !important;  /* %30 daha açık */
  --ifm-color-primary-lightest: #e1ecf5 !important;  /* %40 daha açık */
  --ifm-background-color: #17253d!important;
}
/* Header */
.navbar {
  background-color: #E6E6E6 !important;
}

/* Footer */
.footer {
  background-color: #23375A!important;
}

/* Karanlık Temada Header */
[data-theme='dark'] .navbar {
  background-color: #23375A!important;
}

/* Karanlık Temada Footer */
[data-theme='dark'] .footer {
  background-color: #23375A!important;
}
